.header-content p {
    max-width: 470px;
}

.header-right {
    background-image: url('../../assets/gradient.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}



@media screen and (max-width:740px) {
    .header-con {
        flex-direction: column;
    }

    .header-left {
        text-align: center;
    }

    .header-content .lg {
        font-size: 2rem;
    }

    .header-content p {
        max-width: 470px;
        margin: 1rem auto;
    }


}