@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@100;200;300;500&family=Noto+Serif:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary-color: #F50103;
    --secondary-color: #F55529;
    --dark-color: #1D2027;
    --gray-color: #5A5A5A;
    --light-color: #ffffff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.container {
    max-width: 1100px;
    overflow: auto;
    margin: 0 auto;
    padding: 0 40px;
}

.card {
    background-color: var(--dark-color);
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(255, 255, 255, 0.1);
    padding: 22px 10px 22px 18px;
    margin: 10px;
    /* max-width: 370px; */
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover {
    transform: scale(0.98);
}

/* Background & colored btn  */
.bg-primary,
.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary,
.btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark,
.btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-light,
.btn-light {
    background-color: var(--light-color);
    color: #333;
}


.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
    color: #fff;
}

/* text color */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-light {
    color: var(--light-color);
}






/* Text sizes  */
.text-center {
    text-align: center;
}

.text-secondary {
    color: var(--primary-color);
}

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
    font-weight: 500;
}

.lg {
    font-size: 3rem;
    font-weight: 600;
}

.xl {
    font-size: 4rem;
}

/* alert  */
.alert {
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
}

.alert i {
    margin-right: 10px;
}

.alert-success {
    background-color: var(--success-color);
    color: #fff;
}

.alert-error {
    background-color: var(--error-color);
    color: #fff;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 12px; */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 32%);

}

/* Margin */
.mx-1 {
    margin: 0 1rem;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* Padding */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}


/* Animation  */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}


/* Tablets and under */
@media screen and (max-width:740px) {
    html {
        font-size: 14px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}


/* mmbile */
@media screen and (max-width:280px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .brands-content {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .skills-con {
        padding: 2rem;
    }

    .skill .bottom {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}